<p id="notice"><%= notice %></p>



<h1>XXXXXX</h1>


<div class="container">
  <div class="row">
    <div class="col-md-2">col-sm-2</div>
    <div class="col-md-8">
      <%= image_tag 'nishikori01.jpg' %>
      <div class="panel panel-default">
        <div class="panel-heading">Panel heading</div>
        <table class="table">
          <thead>
            <tr>
              <th>概要</th>
              <th>開催日</th>
              <th>場所</th>
              <th>レベル</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @off_meetings.each do |off_meeting| %>
              <tr>
                <td><%= off_meeting.summary %></td>
                <td><%= off_meeting.day %></td>
                <td><%= off_meeting.address %></td>
                <td><%= off_meeting.level %></td>
                <!-- <td><%= off_meeting.detail %></td> -->
                <td><%= link_to 'Show', off_meeting %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= link_to 'New Off meeting', new_off_meeting_path %>
    </div>
    <div class="col-md-2">col-sm-2</div>
  </div>
</div>


<br>


