  <div class="container">
  <div class="row">
    <div class="col-md-2">col-sm-2</div>
    <div class="col-md-8">
    <div class="search">
      <div class="search-area">
      <h1>検索画面</h1>
        <%= search_form_for(@search, url: off_meetings_search_path) do |f| %>
          <div class="search-items-area">
            <div class="form-group">
              <div class="search-label">
                <%= f.label :summary, 'タイトル', class: "seach-label" %>
              </div>
              <div class="search-item">
                <%= f.text_field :summary_cont %>
              </div>
            </div>
            <div class="form-group">
              <div class="search-label">
                <%= f.label :address, 'エリア' %>
              </div>
              <div class="search-item">
                <%= f.text_field :address_cont %>
              </div>
            </div>
            <div class="form-group">
              <div class="search-label">
                <%= f.label :day, '開催日時', class: "seach-label" %>
              </div>
              <div class="search-item">
                <%= f.text_field :day_gt, class: 'datepicker' %> 〜 
                <%= f.text_field :day_lt, class: 'datepicker' %>
              </div>
            </div>
          </div>
          <div class="search-button-area">
            <div id="search-button">
              <%= f.submit '検索する', class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="search-result-area">
        <table class="table">
          <thead>
            <tr>
              <th>概要</th>
              <th>開催日</th>
              <th>場所</th>
              <th>レベル</th>
              <!-- <th colspan="3"></th> -->
            </tr>
          </thead>
          <tbody>
            <% @off_meetings.each do |off_meeting| %>
              <tr>
                <td><%= link_to off_meeting.summary, off_meeting_path(off_meeting) %></td>
                <td><%= off_meeting.day %></td>
                <td><%= off_meeting.address %></td>
                <td><%= off_meeting.level %></td>
                <!-- <td><%= off_meeting.detail %></td> -->
                <!-- <td><%= link_to 'Show', off_meeting %></td> -->
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
      </div>
    </div>
    <div class="col-md-2">col-sm-2</div>
  </div>
</div>