  <div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <div class="search">
      <div class="search-area">
      <h1>検索</h1>
        <%= search_form_for(@search, url: off_meetings_search_path) do |f| %>
          <div class="search-items-area">
            <div class="form-group">
              <div class="search-label">
                <%= f.label :summary, 'タイトル', class: "seach-label" %>
              </div>
              <div class="search-item">
                <%= f.text_field :summary_cont, placeholder: "例）ダブルス" %>
              </div>
            </div>
            <div class="form-group">
              <div class="search-label">
                <%= f.label :address, 'エリア' %>
              </div>
              <div class="search-item">
                <%= f.text_field :address_cont, placeholder: "例）千葉県浦安市" %>
              </div>
            </div>
            <div class="form-group">
              <div class="search-label">
                <%= f.label :day, '開催日時', class: "seach-label" %>
              </div>
              <div class="search-item">
                <%= f.text_field :day_gt, class: 'datepicker',placeholder: "例）2016-7-23" %> 〜
                <%= f.text_field :day_lt, class: 'datepicker',placeholder: "例）2016-8-5" %>
              </div>
            </div>
            
          </div>
          <div class="search-button-area">
            <div id="search-button">
              <%= f.submit '検索する', class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="search-result-area">
        <%= render "off_meetings", off_meetings: @off_meetings %>
      </div>
    </div>
    </div>
    <div class="col-md-2"></div>
    </div>
  </div>
</div>