<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="off_meeting_form" >
        <% if flash[:notice] %>
          <div class="alert alert-success">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% if flash[:alert] %>
          <div class="alert alert-warning">
            <%= flash[:alert] %>
          </div>
        <% end %>
        <div class="off-meeting-title-area">

          <h1><%= OffMeeting.model_name.human %></h1>
          <div class="off-meeting-title-area-right">
            <% if user_signed_in? && @off_meeting.user == current_user %>
              <%= link_to '編集する', edit_off_meeting_path(@off_meeting) %> |
            <% end %>
          </div>
        </div>
        <div class="off_meeting_show">
          <table class="table table-bordered table-striped off-meeting-table">
            <thead>
              <tr>
                <th id="column1"><strong><%= OffMeeting.human_attribute_name('summary')%></strong></td>
                <th id="column2"><%= @off_meeting.summary %></td>
                <!-- <th colspan="2"><%= @off_meeting.summary %></th> -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="column1"><strong><%= OffMeeting.human_attribute_name('day') %></strong></td>
                <td id="column2"><%= @off_meeting.day %></td>
              </tr>
              <tr>
                <td><strong><%= OffMeeting.human_attribute_name('address') %></strong></td>
                <td><%= @off_meeting.address %>（
                  <%= link_to  "/off_meetings/map/#{@off_meeting.id}", :target=>["_blank"], id: 'map_link' do %>
                    <i class="fa fa-map-marker"></i>マップ
                  <% end %>
                ）</td>
              </tr>
              <tr>
                <td><strong><%= OffMeeting.human_attribute_name('level') %></strong></td>
                <td><%= @off_meeting.level %></td>
              </tr>
              <tr>
                <td><strong><%= OffMeeting.human_attribute_name('detail') %></strong></td>
                <td><%= simple_format(@off_meeting.detail) %></td>
              </tr>
              <tr>
                <td><strong><%= OffMeeting.human_attribute_name('num_of_persons') %></strong></td>
                <td><%= @off_meeting.num_of_persons %></td>
              </tr>
              <tr>
                <td><strong>主催者</strong></td>
                <td>
                  <div class="entry-user-image" style="background-image: url(<%= @off_meeting.user.avatar.url(:thumb) %>);">
                      <div class="entry-user-link">
                        <a href="/users/<%= @off_meeting.user.id %>" ><span>image</span></a>
                      </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td><strong>参加者</strong></td>
                <td>
                  <% if @entries.present?%>
                    <% @entries.each do |entry| %>
                      <div class="entry-user-image" style="background-image: url(<%= entry.user.avatar.url(:thumb) %>);">
                        <div class="entry-user-link">
                          <a href="/users/<%= entry.user.id %>" ><span>image</span></a>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="entry_button">
            <% if user_signed_in? && current_user != @off_meeting.user %>
              <% if @entry.nil? %>
                <% if @entries.count + 1 < @off_meeting.num_of_persons %>
                  <%= form_tag("/off_meetings/#{@off_meeting.id}/entries", method: "post") do %>
                    <%= submit_tag "参加する" , class: 'btn btn-primary' %>
                  <% end %>
                <% else %>
                  <p>参加人数が定員に達しています。</p>
                <% end %>
              <% else %>
                <%= form_tag("/off_meetings/#{@off_meeting.id}/entries/#{@entry.id}", method: "delete") do %>
                  <%= submit_tag "参加を取り消す", class: 'btn btn-danger', data: {confirm: "本当に参加を取り消しますか？"} %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <h1>コメント欄</h1>
        <div class="talk-area">
          <% unless @questions.empty? %>
            <% @questions.each do |question| %>
              <div class="disp-question">
                  <div class="disp-question-img" style="background-image: url(<%= question.user.avatar.url(:thumb) %>);">　</div>
                  <div class="disp-question-line">　</div>
                  <strong><%= question.question %></strong>
                <% unless question.answers.empty? %>
                  <% question.answers.each do |answer| %>
                    <div class="disp-answer">
                      <%= answer.answer %>
                      <div class="disp-answer-line">　</div>
                      <div class="disp-answer-img" style="background-image: url(<%= answer.user.avatar.url(:thumb) %>);">　</div>
                    </div>
                  <% end %>
                <% end %>
                <br>
                <div class="answer-button">
                  <a data-target="form-<%= question.id %>" class="modal-open" id="modal-test" question-id="<%= question.id %>">回答する</a>
                </div>
              </div>
            <% end %>
          <% else %>
            質問がある場合は右の質問フォームからお願いします。
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="organizer-area">
        <h2>主催者</h2>
        <h3><%= link_to @off_meeting.user.nickname, user_path(@off_meeting.user) %>さん</3>
        <div class="organizer-profile-image" style="background-image: url(<%= @off_meeting.user.avatar.url(:medium) %>);">
        </div>
        <table class="table">
          <tr>
            <td class="column-1"><strong>地域</strong></td>
            <td><%= @off_meeting.user.area %></td>
          </tr>
          <tr>
            <td class="column-1"><strong>コメント</strong></td>
            <td id="textarea"><%= @off_meeting.user.detail %></td>
          </tr>
        </table>
      </div>
      <div class="question-entry-area">
        <h2>質問する</h2>
        <%= form_for [@off_meeting, @question] do |f| %>
          <div class="form-group">
            <div class="field">
              <%= f.text_area :question, class: "form-control", rows: "8", placeholder: "オフ会に関する質問を記入してください。ここに書いた質問がコメント欄に表示されます。" %>
            </div>
            <div class="actions">
              <%= f.submit %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% @questions.each do |question| %>
  <div id="form-<%= question.id %>" class="modal-content">
      <%= form_tag("/off_meetings/#{@off_meeting.id}/questions/#{question.id}/answers", method: "post") do %>
        <div class="form-group">
            <%= label_tag(:answer, "回答") %>
          <div class="field">
            <%= text_area_tag :answer %>
          </div>
          <div class="actions">
            <%= submit_tag("投稿する") %>
          </div>
        </div>
      <% end %>
      <p><a class="modal-close">閉じる</a></p>
  </div>
<% end %>