<div class="container">
  <div class="row">
  <div class="col-md-9">
    <div class="off_meeting_form" >
      <p id="notice"><%= notice %></p>
      <div class="off-meeting-title-area">
        <h1>Off Meeting</h1>
        <div class="off-meeting-title-area-right">
          <% if user_signed_in? && @off_meeting.user == current_user %>
            <%= link_to '編集する', edit_off_meeting_path(@off_meeting) %> |
          <% end %>
          <%= link_to '戻る', off_meetings_path %>
        </div>
      </div>
      <div class="off_meeting_show">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th colspan="2"><%= @off_meeting.summary %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>開催日時</strong></td>
              <td><%= @off_meeting.day %></td>
            </tr>
            <tr>
              <td><strong>開催場所</strong></td>
              <td><%= @off_meeting.address %></td>
            </tr>
            <tr>
              <td><strong>レベル</strong></td>
              <td><%= @off_meeting.level %></td>
            </tr>
            <tr>
              <td><strong>詳細情報</strong></td>
              <td><%= simple_format(@off_meeting.detail) %></td>
            </tr>
            <tr>
              <td><strong>定員</strong></td>
              <td><%= @off_meeting.num_of_persons %></td>
            </tr>
            <tr>
              <td><strong>主催者</strong></td>
              <td>
                <div class="entry-user-image" style="background-image: url(<%= @off_meeting.user.avatar.url(:thumb) %>);">
                    <div class="entry-user-link">
                      <a href="/users/<%= @off_meeting.user.id %>" ><span>image</span></a>
                    </div>
                </div>
              </td>
            </tr>
            <tr>
              <td><strong>参加者</strong></td>
              <td>
                <% if @entries.present?%>
                  <% @entries.each do |entry| %>
                    <div class="entry-user-image" style="background-image: url(<%= entry.user.avatar.url(:thumb) %>);">
                      <div class="entry-user-link">
                        <a href="/users/<%= entry.user.id %>" ><span>image</span></a>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="entry_button">
          <% if user_signed_in? && current_user != @off_meeting.user %>
            <% if @entry.nil? %>
              <%= form_tag("/off_meetings/#{@off_meeting.id}/entries", method: "post") do %>
                <%= submit_tag "参加する" , class: 'btn btn-primary' %>
              <% end %>
            <% else %>
              <%= form_tag("/off_meetings/#{@off_meeting.id}/entries/#{@entry.id}", method: "delete") do %>
                <%= submit_tag "参加を取り消す", class: 'btn btn-danger'  %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- ここから雑談を表示 -->
    <div class="talk">
      
    </div>
  </div>
  <div class="col-md-3">col-sm-2</div>
    <div class="organizer-area">

    </div>
  </div>
</div>