<div class="container">
  <div class="row">
  <div class="col-lg-10">
    <div class="user-edit-form">
        <div class="row form">
          <div class="col-lg-12">

            <%= form_for current_user do |f| %>
              <h2>画像アップロード</h2>
              <div class="form-group file">
                <%= f.file_field :avatar, class: "form-control floating-label", placeholder: "画像アップロード" %>
              </div>
              <h2>登録情報</h2>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.text_field :email, placeholder: "メールアドレス", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :nickname %>
                <%= f.text_field :nickname, placeholder: "ニックネーム", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :area %>
                <%= f.text_field :area, placeholder: "地域", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :sex %>
                <%= f.text_field :sex, placeholder: "性別", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :detail %>
                <%= f.text_area :detail, placeholder: "自由記述欄", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.submit "送信", class: "btn btn-primary withripple" %>
              </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
  <div class="col-lg-2">col-md-2</div>
  </div>
</div>