<div class="signup-area">
  <h2>パスワード変更</h2>

  <%= form_for current_user, url: "/users/#{current_user.id}/update_password", method: :patch do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "新しいパスワード" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "新しいパスワード（再入力）" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password %><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password" %>
    </div>
  <% end %>
</div>